<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\Marketplace.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
			<!-- Add request filtering configuration to allow PATCH verb -->
			<security>
				<requestFiltering>
					<verbs allowUnlisted="true">
						<add verb="PATCH" allowed="true" />
					</verbs>
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
</configuration>
